.header_wrapper {
	position: fixed;
	display: flex;
	flex-direction: column;
	width: 100vw;
	top: 0px;
	z-index: 1;
}

.header {
	background-color: #f4d03f;
	background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
	border-width: 0 0 3.7px 0px;
	border-style: solid;
	border-color: gray;
	padding: 20px;
	letter-spacing: 4px;
	color: white;
	font-size: 1.6rem;
	font-weight: 400;
	text-align: center;
	cursor: pointer;
}

.menu {
	display: flex;
	align-items: center;
	padding: 15px;
	color: black;
	background-color: #f4d03f;
	background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
	border-width: 0 0 3.7px 0px;
	border-style: solid;
	border-color: gray;
}

.search-form {
	display: flex;
}

.search-form:focus,
input:focus {
	outline: none;
}

.search-bar {
	width: 92%;
	border: none;
	padding: 15px;
	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
	border-width: 0 0 3.7px 0px;
	border-style: solid;
	border-color: gray;
}
.search-bar::placeholder {
	font-family: "Roboto", sans-serif;
	font-size: 0.9rem;
	color: black;
}

.search-button {
	border-width: 0 0 3.7px 3.7px;
	border-style: solid;
	border-color: gray;
	font-size: 1rem;
	color: white;
	min-width: 8%;
	padding: 20px;
	cursor: pointer;
	background-color: #f4d03f;
	background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
}

#dropdownMenu {
	letter-spacing: 0.5px;
	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
	color: black;
	margin: 0 5px 0 5px;
}

.background {
	letter-spacing: 0.5px;
	color: black !important;
	background-color: rgb(216, 225, 231);
	margin: 0px 10px 0px 10px;
}

.button-secondary-override:hover {
	background-color: #b0c0ced5 !important;
	border-color: #b0c0ced5 !important;
	background-image: none !important;
}
.dropdown-submenu {
	position: relative;
}
.dropdown-item a {
	color: black;
}

.dropdown-item {
	cursor: pointer;
}

.dropdown-item-spread {
	display: flex;
	justify-content: space-between;
}

.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

/* dropdown-submenu:hover > .dropdown-menu {
	display: block;
} */
.dropdown-menu1 {
	display: block;
}
.dropdown-submenu > a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

@media screen and (max-width: 280px) {
	.menu {
		padding: 15px 0px 15px 0px;
		justify-content: space-evenly;
	}
}

@media screen and (max-width: 320px) {
	#dropdownMenu {
		margin: 0 2px 0 2px;
	}
}
